body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

/* Navbar */

.navbar {
  height: 5rem;
  background-color: white;
}

.name a {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 91.7;
  color: #993955;
  font-size: 2rem;
  text-decoration: none;
}

.logo {
  margin-top: 10px;
}

.hero {
  display: flex;
  text-align: center;
  align-items: baseline;
}
.logo {
  color: #993955;
  font-size: 2.5rem;
}
.fa-squarespace {
  color: #993955;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;

  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  display: flex;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none !important;
}

/* Card Effects */

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Page */
.add-btn {
  background-color: #993955 !important;
  border: none !important;
}

/* Edit Page */

.edit-btn {
  background-color: #993955 !important;
  border: none !important;
}
img {
  height: 120px;
  width: 180px;
}

/* Show Page */

.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

.delete-btn {
  background-color: #993955 !important;
}

/* Map */

#map {
  height: 400px;
  width: 80vh;
}

/* Filter */
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100px;
}

.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;

  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
  font-size: 17px;

  border-bottom: 3px solid rgb(84, 84, 84);
}

.fa-fort-awesome,
.fa-person-swimming {
  font-size: 1.1rem;
}

.filter a p {
  font-size: 0.8rem;
}

.filter a p:hover {
  font-weight: 600;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 5rem;
  display: flex;
  align-items: center;
}
.tax-toggle:hover {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.filter a {
  color: black;
  opacity: 0.9;
  text-decoration: none;
}
